<div class = "navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class ="container">
            <ul class = "nav">
                <li> <a href="{{ url_for('index') }}"> Home </a></li>
                <li> <a href="{{ url_for('tweets', page_no = 1)}}"> Tweets </a></li>
                <li> <a href="{{ url_for('realtime_update') }}"> Real Time Tweets </a></li>
                <li> <a href="{{ url_for('suggestions') }}"> Suggestions </a></li>
                <li><span class="label label-info"> Beta </span></li>
                <li class='total_tweets'>
                </li>
            </ul>

        </div>
    </div>
</div>

