<div class = "navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class ="container">
            <ul class = "nav">
                <li> <a href="#"> Home </a></li>
                <li> <a href="{{ url_for('tweets', page_no = 1)}}"> Tweets </a></li>
                <li> <a href="#"> Real Time Tweets </a></li>
                <li> <a href="#"> Famous Tweets </a></li>
                <li><span class="label label-info"> Beta </span></li>
            </ul>

        </div>
    </div>
</div>
