            <hr/>
            <a href="http://flask.pocoo.org/"><img
               src="http://flask.pocoo.org/static/badges/powered-by-flask-s.png"
                  border="0"
                     alt="powered by Flask"
                        title="powered by Flask"></a><br/>
             Code by <a href="www.kracekumar.com">Kracekumar</a><br/>
            Contact me via <a href="mailto:me@kracekumar.com" class="footer">
            Email  </a>,
            <a href="http://twitter.com/kracetheking.com" class="footer"> 
            Twitter </a>,
             <a href="http://github.com/kracekumar" class="footer"> Github </a>
             <hr/>
