<script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
<script>
(function indefinite(){
        setTimeout(function(){
            var request = $.ajax({
                type: "GET",
                url: 'http://www.sachintweets.in/total_tweet/',
                });

            request.done(function(data){
                    if (typeof data !== "undefined")
                    {
                        $('.total_tweets').html(data['total'] + " tweets so far we have");
                    }
                
                indefinite();
                });
        });
}, 5000);
})();
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30676028-1']);
      _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                      })();

                      </script>
<hr/>
            <a href="http://flask.pocoo.org/"><img
               src="http://flask.pocoo.org/static/badges/powered-by-flask-s.png"
                  border="0"
                     alt="powered by Flask"
                        title="powered by Flask"></a><br/><br/>
             Code by <a href="http://www.kracekumar.com">Kracekumar</a><br/><br/>
            Contact me via <a href="mailto:me@kracekumar.com" class="footer">
            Email  </a>,
            <a href="http://twitter.com/kracetheking.com" class="footer"> 
            Twitter </a>
            <br/>
             <a href="http://github.com/kracekumar/sachintweets" class="footer"> Source Code </a>
             <hr/>
