{% extends 'base.html' %}
{% from 'helpers/tweets.html' import render_table %}
{% block content %}
<br/>
<br/>
     <h2>Real Time  Tweets about sachin </h2>
     <div class=msg>
     <span class="label medium label-success">
        Currently we are pulling live tweets about sachin tendulkar for you :)
     </span>
     </div>
     <br/>
     <div class="realtime">
        <table class="table table-bordered table-striped"> 
        <thead>
            <tr>
                <th> Username </th>
                <th> Tweet </th>
                <th> Retweet Count </th>
            </tr>
        </thead>
            <tr class=row>
                <td> bhavya kapoor </td>
                <td> RT @katyperry: Had a great time @ the IPL ceremony in INDIA. Met Sachin Tendulkar, one of the BEST cricket players in the world! http:/ ...</td>
                <td> 2702 </td>
            </tr>
     </div>
{% endblock %}
{% block js %}
    {% include 'realtime_update.html' %}
{% endblock %}
