{% extends 'base.html' %}
{% from 'helpers/tweets.html' import render_table %}
{% block content %}
<br/>
<br/>
     <h2>Real Time  Tweets about Sachin Tendulkar </h2>
     <div class=msg>
     <span class="label medium label-success">
        Currently we are pulling live tweets about Sachin Tendulkar for you, please wait :)
     </span>
     </div>
     <br/>
     <div class="realtime">
        <table class="table table-bordered table-striped"> 
        <thead>
            <tr>
                <th> Username </th>
                <th> Tweet </th>
                <th> Retweeted </th>
            </tr>
        </thead>
            <div class="t">
            </div>
            <tr class=tweet>
                <td> bhavya kapoor </td>
                <td> RT @katyperry: Had a great time @ the IPL ceremony in INDIA. Met Sachin Tendulkar, one of the BEST cricket players in the world! http:/ ...</td>
                <td> 2702 </td>
            </tr>
        </table>
     </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename=mixpanel.js)}}"> </script>
    <script>
    mixpanel.track('realtime');
    </script>
    {% include 'realtime_update.html' %}
{% endblock %}
