<script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
<script>
(function indefinite(){
        setTimeout(function(){
            var request = $.ajax({
                type: "GET",
                url: document.URL + 'pull/',
                });

            request.done(function(data){
                $('.table > tbody:first').prepend('<tr class=tweet><td>' + data['username'] + '</td>' +
                '<td>' + data['text'] + '</td>' + '<td>' 
                + data['retweet_count'] + '</td></tr>');
                /* sleep for 1 sec because previous tweet is prepended */
                function sleep(){
                    setTimeout(function() { i =1;}, 1000)};
                sleep();
                });
            var error_msg = "Seems like no one is tweeting about Sachin :(";
            request.fail(function(x, t, m) {
            if(t === "timeout"){
                $('.msg').html("<span class=label medium label-important> Seems like no one is tweeting about Sachin Tendulkar now :( </span>");
            }else{
                $('.msg').html("<span class=label medium label-important>Sorry some thing we did wrong,please try after sometime" +'</span>');
            }
                indefinite();
        });
}, 5000);
})();
</script>
















